.landingWrapper {
  padding: 1em 2em;
  background-color: #f2f4f7;
  display: flex;
  gap: 1em;
  height: 100%;
}

.landingContainer {
  flex: 0.7;
}

.createIssueWrapper {
  flex: 0.3;
}

.createIssueContainer {
  top: 10px;
  position: sticky;
  z-index: 1;
}

.landingProfile {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: rgb(235, 232, 232);
}

.landingProfile h1 {
  background-color: #111f4d;
  color: #fff;
  padding: 10px 8px;
  margin-bottom: 1em;
  border-radius: 10px;
}

.landingProfileShowInfo {
  display: flex;
  align-items: center;
  margin-top: 1em;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.landingProfileImage {
  flex: 0.4;
}

.landingProfileImage img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}

.landingProfileText {
  flex: 0.6;
}

.landingProfile p {
  line-height: 2.8em;
}
.landingProfileText span {
  font-weight: 600;
  margin-right: 2em;
}

.landingProfileEdit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.landingProfileEdit button {
  padding: 15px 15px;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #111f4d;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.landingProfileEdit button:hover {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.landingProfileEdit span {
  padding: 15px 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #e43a19;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: center;
}

.landingProfileEdit span:hover {
  border-radius: 4px;
}

.previouslyPostedIssues {
  margin-top: 2em;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.previouslyPostedIssues h2 {
  background-color: #111f4d;
  color: #fff;
  padding: 10px 8px;
  margin-bottom: 1em;
  border-radius: 10px;
}

.previouslyPostedIssues h3 {
  font-size: 15px;
  font-weight: 500;
}
.previouslyPostedIssues span {
  font-weight: 800;
  font-size: 18px;
}

.prevContainer {
  display: block;
  gap: 1em;
}

.issue {
  flex: 0.25;
  display: flex;
  justify-content: space-between;

  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin-bottom: 1em;
}

.issueTitleDesc {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.issueTitleDesc span {
  font-weight: 700;
  font-size: 18px;
  color: black;
}
.issueTitleDesc h3 {
  font-weight: 500;
  font-size: 14px;
  color: gray;
}

.issueOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.issueOptions span {
  background-color: #e43a19;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
}

.issueOptions span:hover {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.issueTitle h4 {
  margin-bottom: 10px;
}

.issueTitle img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

/* create issues */

.createIssueWrapper {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.createIssueWrapper h2 {
  background-color: #111f4d;
  color: #fff;
  padding: 10px 8px;
  margin-bottom: 1em;
  border-radius: 10px;
  text-align: center;
}

.createIssueWrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.createIssueWrapper form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.createIssueWrapper form select {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.createIssueWrapper form label {
  font-size: 16px;
  font-weight: 600;
}

.createIssueWrapper form textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.createIssueWrapper button {
  background-color: #020205;
  color: #fff;
  padding: 18px;
  font-size: 16px;
}

.createIssueWrapper h6 {
  background-color: #e43a19;
  color: white;
  padding: 14px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.noReport {
  text-align: center;
  margin-top: 20px;
}

.noReport h3 {
  font-size: 24px;
}

@media (max-width: 1300px) {
  .landingContainer {
    flex: 0.8;
  }

  .createIssueWrapper {
    flex: 0.2;
  }

  .landingProfile h1 {
    font-size: 20px;
  }

  .previouslyPostedIssues h2 {
    font-size: 20px;
  }
}

@media (max-width: 1180px) {
  .landingProfileShowInfo {
    display: block;
  }
}

@media (max-width: 1100px) {
  .landingWrapper {
    padding: 1em 2em;
    background-color: #f2f4f7;
    display: flex;
    gap: 1em;
    height: 100%;
  }

  .landingContainer {
    flex: 0.9;
  }

  .createIssueWrapper {
    flex: 0.1;
    /* display: none; */
  }
}

@media (max-width: 1000px) {
  .landingWrapper {
    padding: 1em 2em;
    background-color: #f2f4f7;
    display: flex;
    flex-direction: column-reverse;
    gap: 3em;
    height: 100%;
  }
}

/* individual media  */

@media (max-width: 430px) {
  .landingWrapper {
    padding: 1em 1em;
    background-color: #f2f4f7;
    display: flex;
    gap: 1em;
    height: 100%;
  }

  .landingProfile {
    top: 0;
    padding-top: 20px;
    z-index: 1;
    position: sticky;
    background-color: rgb(235, 232, 232);
  }
}
