.registerWrapper {
  background-color: #4267b2;
  height: 100vh;
  overflow: hidden;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.registerContainer {
  display: flex;
  width: 70%;
  height: 98vh;

  gap: 1.4em;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
}

.imageSlide {
  flex: 0.6;
}

.imageSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.formSlide {
  flex: 0.4;
  padding: 1em 2em;
  height: 100vh;
  overflow: hidden;
}

.formSlide h1 {
  font-size: 42px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}

.formSlide h2 {
  font-size: 36px;
  text-align: center;
  color: gray;
}

.formSlide form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.formSlide form input {
  padding: 10px;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid gray;

  font-size: 13px;
}

.registerWrapper form .fileUpload {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  padding: 1em;
  border-radius: 10px;
}

.registerWrapper form .upload {
  font-size: 18px;
  color: #4267b2;
}

.registerWrapper form .fileUpload input {
  border-bottom: none !important;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.registerWrapper form .fileUpload:hover {
  background-color: rgb(216, 214, 214);
}

.registerWrapper .registerContainer form button {
  padding: 10px;
  background-color: #4267b2;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1em;
}

.form__slideOptions {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: black;
  color: gray;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.form__slideOptions {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: black;
  color: gray;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.form__slideOptions:hover {
  color: white;
}

@media (min-width: 3000px) {
  .imageSlide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

@media (max-width: 1025px) {
  .registerContainer {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .imageSlide {
    display: none;
  }

  .formSlide {
    flex: 1;
    padding: 1em 1em;
  }
}

@media (max-width: 500px) {
  .imageSlide {
    display: none;
  }

  .formSlide {
    flex: 1;
    padding: 1em 1em;
  }

  .registerContainer {
    width: 90%;
  }
}

@media (max-width: 376px) {
  .registerWrapper {
    background-color: #4267b2;
    height: 120vh;
    overflow: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .registerContainer {
    height: 120vh;
    overflow: scroll;
  }
}

@media (max-width: 350px) {
  .formSlide h1 {
    font-size: 30px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
  }

  .formSlide h2 {
    font-size: 28px;
    text-align: center;
    color: gray;
    margin-bottom: 20px;
  }
}

@media (max-width: 300px) {
  .registerWrapper {
    background-color: #4267b2;
    height: 120vh;
    overflow: hidden;
  }

  .registerContainer {
    height: 115vh;
  }
}
